@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "BuscarUsuario";
    Layout = "_Layout";
}

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: cursive;
    font-size: medium;
}

body {
        background-image: url('https://img.freepik.com/foto-gratis/edificios-centricos-angeles-noche_649448-298.jpg?w=900&t=st=1698941805~exp=1698942405~hmac=f1ca66cd00d47380c19a8afdd31dbaa1225943fdeb92e93f664e44fc7c5b02af');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

form {
    width: 1000px;
        background-color: #041B2A;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: Calibri;
    color: lightgrey;
    box-shadow: 20px 25px 43px #000;
}

.form-control {
    background: #C1E2EF;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #07687b;
    color: black;
}

.form-btn {
    width: 35%;
    padding: 8px;
    background: #1f53c5;
    border: 1px solid #07687b;
}

/*Para el cambiar el color de letra del nombre de las columnas de la tabla*/
table.table.table-striped thead th {
    color: white;g
}

/*Para el cambiar el color de letra la busqueda en la tabla*/
table.table.table-striped tbody td {
    color: white;
}
</style>

<div class="container">
    <nav class="topnavA">
        <a  href="~/Administrador/CrearUsuario">Crear Usuario</a>
        <a class="active" href="~/Administrador/BuscarUsuario">Buscar Usuario</a>
        <a href="~/Administrador/Reportes">Reportes</a>
    </nav>

    <div class="cuacenterTb">
        <div class="busT">
            <form method="post">
            <div class="row">
                <div class="col-md-4">  
                    <label for="identificacion">Tipo Identificación</label>
                        @Html.DropDownList("Id_Doc", new SelectList(ViewBag.Documento, "Id_Doc", "Descripcion"), new {@class = "form-control dropdown"})
                    </div>
                <div class="col-md-4">
                        <label for="NumDoc">Número de Documento</label>
                        <input asp-for="NumDoc" type="text" />
                </div>
                <div class="col-md-4">
                    <input type="submit" name="buscar" value="Buscar" class="buscar-submit" />
                </div>
            </div>
            <div class="cont2">

                @if (Model != null)
                {
                    
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model=>model.Nombre) </th>
                            <th>@Html.DisplayNameFor(model=>model.SegundoApellido) </th>
                            <th>@Html.DisplayNameFor(model=>model.SegundoApellido) </th>
                            <th>Tipo Ident</th>
                            <th>N° Documento</th>
                            <th>Genero</th>
                            <th>E-mail</th>
                            <th>Programa</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem=>modelItem.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem=>modelItem.PrimerApellido)</td>
                            <td>@Html.DisplayFor(modelItem=>modelItem.SegundoApellido)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.IdDocNavigation.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem=>modelItem.NumDoc)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.IdGeneroNavigation.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem=>modelItem.Email)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.IdRolNavigation.Descripcion)</td>

                            <td>@Html.ActionLink("ModificarUsuario", "ModificarUsuario", new{Id_Usuario=Model.Id_Usuario})</td>
                            <td>@Html.ActionLink("Delete","Delete",new{Id_Usuario=Model.Id_Usuario},new{onclick="retur confirm('Esta seguro de eliminar');"})</td>
                        </tr>
                    </tbody>
                </table>
                }
            </div>
            

            <div class="btns">
                <button href="~/Administrador/MenuAdmModificar" class="btnCS">Modificar Usuario</button>
                <button class="btnCS">Eliminar Usuario</button>
            </div>
            </form>
        </div> 
       
    </div>
</div>