@model SGPI.Models.Usuario

@{
    // eL arroba es para realizar codigo de c# en html

    ViewData["Title"] = "ModificarUsuario";
    Layout = "_layout";

}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    h1 {
        font-family: cursive;
        font-size: medium;
    }

    body {
        background-image: url('https://img.freepik.com/fotos-premium/fondo-borroso-bokeh-luces-ciudad_63313-398.jpg?w=900');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    form {
        width: 1000px;
        background-color: #0e2433;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        border-radius: 4px;
        font-family: Calibri;
        color: white;
        box-shadow: 20px 25px 43px #333;
    }

    .form-control {
        background: #1c4966;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #07687b;
    }

    .form-btn {
        width: 35%;
        padding: 8px;
        background: #1f53c5;
        border: 1px solid #07687b;
    }

</style>

<header>
    <h1>Modificar Usuario</h1>
</header>


<div class="container">
    <nav class="topnavA">
        <a class="active" href="~/Administrador/CrearUsuario">Crear Usuario</a>
        <a href="~/Administrador/BuscarUsuario>Buscar Usuario</a>
        <a href="~/Administrador/Reportes">Reportes</a>
        <button class="btnLogUpA">Cerrar Sesión</button>
    </nav>

    <form method="post">
        <div class="cuacenter">
            <div class="bus">
                @Html.HiddenFor(model => model.Id_Usuario)
                <div class="cont1">
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DropDownList("Id_Doc", new SelectList(ViewBag.Documento, "Id_Doc", "Descripcion"), new {@class = "form-control dropdown"})
                        </div>
                        <div class="col-md-3">
                            <label for="name">Primer Nombre</label>
                            <input asp-for="Nombre" type="text" />
                           
                        <div class="col-md-3">
                            <label for="priApel">Primer Apellido</label>
                            <input asp-for="PrimerApellido" type="text" />
                           
                        </div>
                    </div>
                </div>
                <div class="cont1">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="segApel">Segundo Apellido</label>
                            <input asp-for="SegundoApellido" type="text" />
                           
                        </div>
                        <div class="col-md-4">
                            <label for="doc">Número de Documento</label>
                            <input asp-for="NumDoc" type="text" />
                            
                        </div>
                        <div class="col-md-4">
                            <label for="email">Correo</label>
                            <input asp-for="Email" type="email" />
                           
                        </div>
                    </div>
                </div>
                <div class="cont1">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="roll">Roll Usuario</label>
                         
                           @Html.DropDownList("Id_Rol", new SelectList(ViewBag.rol, "Id_Rol", "Descripcion"))
                        </div>
                        <div class="col-md-4">
                            <label for="genero">Genero</label>
                         
                             @Html.DropDownList("Id_Genero", new SelectList(ViewBag.genero, "Id_Genero", "Descripcion"))
                        </div>
                        <div class="col-md-4">
                            <label for="pass">Contraseña</label>
                            <input asp-for="Password" type="text" />
                            
                        </div>
                    </div>
                </div>
                <div class="cont1">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="programa">Programa</label>

                              @Html.DropDownList("Id_Programa", new SelectList(ViewBag.programa, "Id_Programa", "Descripcion"))
                        </div>
                    </div>
                </div>
                <div class="btnsC">
                    <button class="btnCS">Modificar</button>
                </div>
            </div>
        </div>
    </form>
</div>